<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <el-container
            style=" border: 1px solid #eee;position: absolute;top:0;right: 0;width: 100%;height: 100%;overflow: auto">
        <el-header style="font-size: 12px">
            <span style="margin-left: 10px">后台管理系统</span>
            <span style="float: right">{{user.name}} <el-dropdown>
                <i class="el-icon-setting" style="margin-right: 15px"></i>
                <el-dropdown-menu slot="dropdown">
                    <!--<el-dropdown-item>修改密码</el-dropdown-item>-->
                    <el-dropdown-item @click.native="signOut">退出</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown></span>
        </el-header>
        <el-container style="height: 100%;overflow: auto">
            <el-aside width="200px" style="background-color: white;">
                <el-menu default-active="1">
                    <el-menu-item index="1" @click="goto('user.html')">
                        <i class="el-icon-menu"></i>
                        <span slot="title">用户管理</span>
                    </el-menu-item>
                    <el-menu-item index="2" @click="goto('store.html')">
                        <i class="el-icon-menu"></i>
                        <span slot="title">店铺管理</span>
                    </el-menu-item>
					<el-menu-item index="3" @click="goto('goods.html')">
					    <i class="el-icon-menu"></i>
					    <span slot="title">商品管理</span>
					</el-menu-item>
					<el-menu-item index="4" @click="goto('order.html')">
					    <i class="el-icon-menu"></i>
					    <span slot="title">订单管理</span>
					</el-menu-item>
                </el-menu>
            </el-aside>
            <el-container>
                <el-breadcrumb class="breadcrumb" separator="/">
                    <el-breadcrumb-item>用户管理</el-breadcrumb-item>
                </el-breadcrumb>
                <el-main>
                    <el-row>
                        <el-col :span="24" align="right">
                            <el-button type="primary" round @click="add">新增</el-button>
                            <el-popover
                                    placement="bottom"
                                    title="查询条件"
                                    width="300"
                                    trigger="click">
                                <el-form  label-width="80px" align="center" ref="queryForm" :model="queryForm">
                                    <el-form-item label="用户姓名">
                                        <el-input v-model="queryForm.name"></el-input>
                                    </el-form-item>
                                    <el-button @click="">重 置</el-button>
                                    <el-button type="primary" @click="pageList">确 定</el-button>
                                </el-form>
                                <el-button slot="reference" type="primary" round>搜 索</el-button>
                            </el-popover>
                        </el-col>
                    </el-row>
                    <el-table :data="tableData" border>
                        <el-table-column prop="name" label="姓名">
                        </el-table-column>
                        <el-table-column prop="loginName" label="登录名">
                        </el-table-column>
                        <el-table-column prop="password" label="密码">
                        </el-table-column>
                        <el-table-column
                                label="操作"
                                width="100">
                            <template slot-scope="scope">
                                <el-button type="text" size="small" @click="edit(scope.row)">编辑</el-button>
                                <el-button type="text" size="small" @click="del(scope.row.id)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div style="text-align: right">
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page="currentPage"
                                :page-sizes="[10, 20, 30]"
                                :page-size="100"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="resultCount">
                        </el-pagination>
                    </div>

                    <el-dialog
                            :title="dialogTitle"
                            :visible.sync="dialogVisible"
                            width="30%">
                        <el-form ref="userForm" :model="userForm" label-width="80px">
                            <el-form-item label="姓名" prop="name">
                                <el-input v-model="userForm.name"></el-input>
                            </el-form-item>
                            <el-form-item label="登录名" prop="loginName">
                                <el-input v-model="userForm.loginName"></el-input>
                            </el-form-item>
                            <el-form-item label="密码" prop="password">
                                <el-input v-model="userForm.password"></el-input>
                            </el-form-item>
                            <el-form-item label="头像" prop="photo">
                                <el-upload
                                        class="avatar-uploader"
                                        :action="uploadAction"
                                        :show-file-list="false"
                                        :on-success="handleAvatarSuccess"
                                        >
                                    <img v-if="imageUrl" :src="imageUrl" class="avatar">
                                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                </el-upload>
                            </el-form-item>

                        </el-form>
                        <el-button @click="dialogVisible = false">取 消</el-button>
                        <el-button type="primary" @click="save">确 定</el-button>
                        </span>
                    </el-dialog>

                </el-main>
                <el-footer>后台管理系统</el-footer>
            </el-container>
        </el-container>
    </el-container>


</div>
</body>
<!-- import Vue before Element -->
<!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
<script src="/js/vue/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- import axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const item = {
        loginName: '',
        name: '',
        password: ''
    };
    let vueDiv = new Vue({
        el: '#app',
        data: {
            tableData: [],
            currentPage: 1,
            pageSize: 10,
            resultCount: 0,
            userForm: {
                name: '',
                password: '',
                loginName: '',
				photo:''
            },
            queryForm:{},
            dialogVisible: false,
            dialogTitle: "新增",
            user:{},
			uploadAction: "/fileUpload/uploadSimple",
			imageUrl:'',
			serverUrl:'http://localhost:8088/'
        },
        methods: {
            resetForm(formName) { //重置表单
                if (this.$refs[formName] !== undefined) {
                    this.$refs[formName].resetFields();
                }
            },
            handleAvatarSuccess(res, file) {
			   this.userForm.photo = this.serverUrl+res.data;
               this.imageUrl = URL.createObjectURL(file.raw);
            },
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                this.pageSize = val
                this.pageList()
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
                this.currentPage = val
                this.pageList()
            },
            pageList() {
                axios.get('/user/getPageUserList', {params:{
                        page: this.currentPage, pageSize: this.pageSize,search:this.queryForm
                    }
                }).then((response) => {
                    if (response.data.resCode == "0000") {
                        this.tableData = response.data.resultList
                        this.resultCount = response.data.resultCount
                    }
                }).catch((error) => {
                    console.log(error);
                });
            },
            add() {
                this.dialogTitle = "新增"
                this.dialogVisible = true;
                this.userForm = {};
				this.imageUrl = ""
            },
            edit(obj) {
                this.dialogTitle = "编辑"
                this.dialogVisible = true;
                this.userForm = Object.assign({}, obj)
				this.imageUrl = this.userForm.photo
            },
            save() {
                axios.post('/user/addUser', this.userForm).then((response) => {
                    if (response.data.resCode == "0000") {
                        this.pageList()
                        this.dialogVisible = false
                    } else {
                        this.$message.error(response.data.resDesc);
                        console.log(response.data.resDesc);
                    }
                }).catch((error) => {
                    console.log(error);
                });
            },
            del(id) {
                axios.post('/user/delUser/' + id).then((response) => {
                    if (response.data.resCode == "0000") {
                        this.pageList()
                        this.dialogVisible = false
                    } else {
                        this.$message.error(response.data.resDesc);
                        console.log(response.data.resDesc);
                    }
                }).catch((error) => {
                    console.log(error);
                });
            },
            signOut(){
                localStorage.removeItem("AuthToken")
                window.location.href = "login.html";
            },
            goto(target){
                window.location.href = target;
            }
        },
        mounted() {
            this.pageList();
            this.user=JSON.parse(localStorage.getItem("USER"))
        }
    })


</script>
<style type="text/css">
    .el-footer {
        background-color: #B3C0D1;
        color: #333;
        text-align: center;
        line-height: 60px;
    }

    .el-header {
        background-color: #B3C0D1;
        color: #333;
        line-height: 60px;
    }

    .el-aside {
        background-color: #D3DCE6;
        color: #333;
        text-align: left;
        line-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .el-aside::-webkit-scrollbar {
        display: none;
    }

    .el-main {
        background-color: #E9EEF3;
        color: #333;
        text-align: center;
    }

    .breadcrumb {
        line-height: 54px;
        padding: 0 20px;
        border-bottom: 1px solid #e6e6e6;
    }
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
</html>